<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <!--
  <appSettings>
    <add key="connstring" value="user id=sa; password=XG123456Lacky; database=pd_used; sever=(148.70.167.205)"/>
  </appSettings>
-->
  <connectionStrings>
    <add name="DBConnStr" connectionString="Data Source=148.70.167.205;Initial Catalog=pd_used;Persist Security Info=True;User ID=sa;Password=XG123456Lacky;"
      providerName="System.Data.SqlClient" />
    <add name="pd_usedConnectionString" connectionString="Data Source=148.70.167.205;Initial Catalog=pd_used;Persist Security Info=True;User ID=sa;Password=XG123456Lacky"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
